.borrow-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.borrow-form{
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
}

.borrow-form input {
    width: 100%;
    line-height: 2em;
}

.form-row{
    display: block;
    margin: 10px;
    padding: 10px;
}

.button-deploy-container{
    display: flex;
    justify-content: center;
}

.button-deploy{
    font-size: 20px;
    background-color: lightskyblue;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
